/**
  Title: book-list.component.scss
  Author: Nolan Berryhill
  Date: 12/10/2023
  Description: Styles for book-list
*/

/**
  text decoration and cursor for a-link
*/
.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}

/**
  display, font-size grip-gap, padding, grid-template-columns, text decoration and cursor for grid-container
*/

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25px;
}

.grid-container__item {
  padding: 20px;
  font-size: 30px;
}

.grid-container__ahref:hover {
  text-decoration: underline;
}

.grid-container__ahref {
  text-decoration: none;
  cursor: pointer;
}
